<?xml version="1.0" encoding="utf-8" ?>
<MockServer>
  <DinamycMock>
    <Route>
      <PartialPath>ConfigTda</PartialPath>
      <Request>
        <Filters>
          <Contains>Sample1</Contains>
          <Contains>Sample2</Contains>
        </Filters>
      </Request>
      <Response>
        <ContentType></ContentType>
        <File>ConfiguracionTda.Response</File>
      </Response>
    </Route>
  </DinamycMock>
</MockServer>
