<?xml version="1.0" encoding="utf-8" ?>
<MockServer>
  <DinamycMock>
    <Route>
      <PartialPath>infoXIdentificacion</PartialPath>
      <Response>
        <ContentType>application/json</ContentType>
        <File>Busqueda de clientes/infoXIdentificacion.mock</File>
      </Response>
    </Route>
    <Route>
      <PartialPath>infoXNombre</PartialPath>
      <Response>
        <ContentType>application/json</ContentType>
        <File>Busqueda de clientes/infoXNombre.mock</File>
      </Response>
    </Route>
    <Route>
      <PartialPath>validaVentanilla</PartialPath>
      <Request>
        <Filters>
          <Contains>:validaRestriccionesCte</Contains>
        </Filters>
      </Request>
      <Response>
        <File>Validacion Ventanilla Mexico/validaRestriccionesCte.mock</File>
      </Response>
    </Route>
    <Route>
      <PartialPath>validaVentanilla</PartialPath>
      <Request>
        <Filters>
          <Contains>:validaInfoCte</Contains>
        </Filters>
      </Request>
      <Response>
        <File>Validacion Ventanilla Mexico/validaInfoCte.mock</File>
      </Response>
    </Route>
    <Route>
      <PartialPath>validaVentanilla</PartialPath>
      <Request>
        <Filters>
          <Contains>:validaRemesaComercial</Contains>
        </Filters>
      </Request>
      <Response>
        <File>Validacion Ventanilla Mexico/validaRemesaComercial.mock</File>
      </Response>
    </Route>
    <Route>
      <PartialPath>validaVentanilla</PartialPath>
      <Request>
        <Filters>
          <Contains>:registraTxn</Contains>
        </Filters>
      </Request>
      <Response>
        <File>Validacion Ventanilla Mexico/registraTxn.mock</File>
      </Response>
    </Route>
    <Route>
      <PartialPath>WsBarri</PartialPath>
      <Request>
        <Filters>
          <Contains>pagarMtcn</Contains>
          <Contains>identificacionCte</Contains>
        </Filters>
      </Request>
      <Response>
        <File>Barri/pagarMtcn.mock</File>
      </Response>
    </Route>
    <Route>
      <PartialPath>WsBarri</PartialPath>
      <Request>
        <Filters>
          <Contains>consultarMtcn</Contains>
        </Filters>
      </Request>
      <Response>
        <File>Barri/consultarMtcn.mock</File>
      </Response>
    </Route>
    
    <Route>
      <PartialPath>WsFondeo</PartialPath>
      <Response>
        <ContentType>application/json</ContentType>
        <File>Fondeo/validarFondeo.mock</File>
      </Response>
    </Route>
    
    <Route>
      <PartialPath>WSConfiguracionesTda</PartialPath>
      <Response>
        <File>configuracionTda/configTda.mock</File>
      </Response>
    </Route>
    <Route>
      <PartialPath>WSDigAvisoPriv</PartialPath>
      <Response>
        <File>Digitalizacion/digAvisoPriv.mock</File>
      </Response>
    </Route>
    <Route>
      <PartialPath>WSDigitalizacion</PartialPath>
      <Response>
        <File>Digitalizacion/digDocumento.mock</File>
      </Response>
    </Route>

    <Route>
      <PartialPath>WSPromociones</PartialPath>
      <Response>
        <File>Promociones/promo.mock</File>
      </Response>
    </Route>

     <Route>
      <PartialPath>WSToken</PartialPath>
      <Response>
        <File>Dex/token.mock</File>
        <RegularString>true</RegularString>
      </Response>
    </Route>
    <Route>
      <PartialPath>WSListaNegra</PartialPath>
      <Response>
        <File>Dex/listaNegra.mock</File>
        <RegularString>true</RegularString>
      </Response>
    </Route>
  </DinamycMock>
</MockServer>
